In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path = "C:\\Users\\cm\\Desktop\\deployed-\\30052021 Housing data Kaggle\\8. Pipline\\future selection\\X_train_notscaled.csv"

In [3]:
X = pd.read_csv(path)

In [4]:
X.head()

,MSSubClass,LotFrontage,LotArea,Neighborhood,OverallQual,YearBuilt,YearRemodAdd,ExterQual,BsmtQual,TotalBsmtSF,GrLivArea,FullBath,KitchenQual,GarageFinish,GarageCars
0,60,4.174387,9.041922,0.102740,7,2003,2003,0.334247,0.423288,856,7.444249,2,0.401370,0.289041,2
1,20,4.382027,9.169518,0.007534,6,1976,1976,0.620548,0.423288,1262,7.140453,2,0.503425,0.289041,2
2,60,4.219508,9.328123,0.102740,7,2001,2002,0.334247,0.423288,920,7.487734,2,0.401370,0.289041,2
3,70,4.094345,9.164296,0.034932,7,1915,1970,0.620548,0.444521,756,7.448334,1,0.401370,0.414384,3
4,60,4.430817,9.565214,0.028082,8,2000,2000,0.334247,0.423288,1145,7.695303,2,0.401370,0.289041,3

In [5]:
X.shape

(1460, 15)

In [7]:
ypath = "C:\\Users\\cm\\Desktop\\deployed-\\30052021 Housing data Kaggle\\8. Pipline\\future selection\\y_train_notscaled.csv"

In [8]:
y = pd.read_csv(ypath)

In [9]:
y.shape

(1460, 1)

In [10]:
y.head()

   SalePrice
0  12.247694
1  12.109011
2  12.317167
3  11.849398
4  12.429216

In [11]:
# spliting
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [13]:

# Training the tree regression model on the  dataset
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [14]:
y_pred = regressor.predict(X_test)

In [15]:
# evaluating model
from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred)

In [16]:
score

0.7051850284966619

This model has an accuracy of 70.5 %