In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path = "C:\\Users\\cm\\Desktop\\deployed-\\30052021 Housing data Kaggle\\8. Pipline\\future selection\\X_train.csv"

In [3]:
X = pd.read_csv(path)

In [4]:
X.head()

,MSSubClass,LotFrontage,Neighborhood,OverallQual,YearBuilt,YearRemodAdd,ExterQual,BsmtQual,TotalBsmtSF,2ndFlrSF,GrLivArea,FullBath,KitchenQual,GarageFinish,GarageCars
0,0.235294,0.418208,0.663677,0.666667,0.949275,0.883333,0.53139,0.949511,0.140098,0.413559,0.577712,0.666667,0.78592,0.650763,0.50
1,0.000000,0.495064,0.040359,0.555556,0.753623,0.433333,1.00000,0.949511,0.206547,0.000000,0.470245,0.666667,1.00000,0.650763,0.50
2,0.235294,0.434909,0.663677,0.666667,0.934783,0.866667,0.53139,0.949511,0.150573,0.419370,0.593095,0.666667,0.78592,0.650763,0.50
3,0.294118,0.388581,0.219731,0.666667,0.311594,0.333333,1.00000,1.000000,0.123732,0.366102,0.579157,0.333333,0.78592,1.000000,0.75
4,0.235294,0.513123,0.174888,0.777778,0.927536,0.833333,0.53139,0.949511,0.187398,0.509927,0.666523,0.666667,0.78592,0.650763,0.75

In [5]:
X.shape

(1460, 15)

In [6]:
ypath = "C:\\Users\\cm\\Desktop\\deployed-\\30052021 Housing data Kaggle\\8. Pipline\\future selection\\y_train.csv"

In [7]:
y = pd.read_csv(ypath)

In [8]:
y.shape

(1460, 1)

In [9]:
y.head()

   SalePrice
0  12.247694
1  12.109011
2  12.317167
3  11.849398
4  12.429216

In [10]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
#sc_y = StandardScaler()
X = sc_X.fit_transform(X)
#y = sc_y.fit_transform(y)
print(X)
print(y)

[[ 0.07337496 -0.07586857  0.78687581 ... -0.14572435 -0.28376543
   0.31172464]
 [-0.87256276  0.57242366 -1.39109168 ...  0.65516685 -0.28376543
   0.31172464]
 [ 0.07337496  0.06500658  0.78687581 ... -0.14572435 -0.28376543
   0.31172464]
 ...
 [ 0.30985939 -0.02820043 -0.76433845 ... -0.14572435 -0.28376543
  -1.02685765]
 [-0.87256276  0.06500658  1.96203812 ... -0.14572435  1.01326211
  -1.02685765]
 [-0.87256276  0.3709213   0.00343426 ...  0.65516685 -0.77989618
  -1.02685765]]
      SalePrice
0     12.247694
1     12.109011
2     12.317167
3     11.849398
4     12.429216
...         ...
1455  12.072541
1456  12.254863
1457  12.493130
1458  11.864462
1459  11.901583

[1460 rows x 1 columns]

In [11]:
# spliting
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [12]:

# creating Lasso base model
from sklearn.linear_model import Lasso
baseModel = Lasso(alpha = .01)
baseModel.fit(X_train, y_train)

Lasso(alpha=0.01)

In [15]:
y_pred = baseModel.predict(X_test)

In [16]:
# evaluating model
from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred)

In [17]:
score

0.8121205696956125

Base model has an accuracy of 81.2 %